body {
    margin: 0;
    background-color: #eeeeff;
    font-family: "Open Sans", serif;
}

body h3 {
    margin-left: 1.5%;
}

.banner {
    overflow: hidden;
    font-family: "Open Sans", serif;
    font-weight: normal;
    font-size: 40px;
    height: 56px;
    background-color: #5555aa;
    border: 0px;
    box-shadow: 0px 2px 2px #66669a;
    border-style: solid;
    display: flex;
}

.banner p {
    text-align: left;
    float: left;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.listings {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 3%;
    margin-right: 3%;
    border-style: solid;
}

.listings img {
    border: 1px;
    border-color: #888888;
    border-style: solid;
}

.listings p.item-name {
    font-size: 12px;
    margin: 0;
    text-wrap: balance;
}

.listings p.item-price {
    font-size: 10px;
    margin: 0;
}

.item-listing {
    margin-left: 5%;
}

#search-field {
    font-family: "Open Sans", serif;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    font-size: 20px;
    border: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: #33a;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fafaff;
    position: absolute;
    left: 33%;
    top: 8px;
    bottom: 8px;
    height: 40px;
    width: 30%;
}

#search-button {
    font-size: 20px;
    border: 1px;
    border-style: solid;
    background-color: #bbf;
    border-color: #33a;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 1px;
    position: absolute;
    width: 3%;
    height: 40px;
    bottom: 8px;
    top: 8px;
    left: 63%;
}
