body {
    margin: 0;
    background-color: #cacaff;
    font-family: "Lato", serif;
}

body h3 {
    margin-left: 1.5%;
}

.banner {
    overflow: hidden;
    font-family: "Lato", serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    height: 56px;
    background-color: #5050aa;
    border: 0px;
    border-bottom: 1px;
    border-color: #000;
    box-shadow: 0px 2px 8px #70709a;
    border-style: solid;
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

#overlay {
    background-color: black;
    opacity: 0;
    transition: opacity 0.1s;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    pointer-events: none;
    cursor: default;
}

#banner-underneath {
    height: 56px;
}

.banner p {
    text-align: left;
    float: left;
    margin-left: 3%;
    margin-top: 2px;
    margin-bottom: 0%;
}

.listings {
    display: grid;
    gap: 14px 2vw;
    grid-auto-rows: 100px;
    @media screen and (min-width: 200px) {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 2%;
        padding-right: 2%;
    };
    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 5%;
        padding-right: 5%;
    };
    @media screen and (min-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 10%;
        padding-right: 10%;
    };
    margin-left: 0%;
    margin-right: 0%;
    background-color: transparent;
}

.item-listing .item-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
}

.item-listing .item-text {
    padding-top: 6px;
}

.item-listing .product-image {
    border: 1px;
    border-radius: 6px;
    border-color: #ddf;
    border-style: solid;
}

.item-listing p.item-name {
    font-size: 14px;
    margin: 0;
    margin-right: 10px;
    text-wrap: balance;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    font-weight: 650;
}

.item-listing p.item-price {
    font-size: 12px;
    margin: 0;
    font-weight: 350;
}

.item-listing .product-image {
    width: 100px;
    height: 100px;
}

.item-listing {
    background-color: #ececff;
    transition: 0.2s;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border-style: none;
    border: 0.5px;
    border-color: #66f;
    padding-bottom: 2px;
    box-shadow: 0px 2px 4px #669;
}

.item-listing:hover {
    background-color: #ddf;
    border-style: solid;
    box-shadow: 0px 2px 2px #669;
    transition: 0.2s;
}

.product-buttons {
    position: relative;
    bottom: 4px;
    margin-top: auto;
    display: flex;
    padding: 0;
    gap: 8px;
}

.product-button {
    border: 0;
    width: 22px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.product-page-button {
    border: 1px solid;
    border-radius: 3px;
    border-color: #bbd;
}

.product-button .fa-solid {
    color: black;
    transition: color 0.2s;
}

.product-button .fa-solid:hover {
    color: #55b;
}

.product-offers-button .fa-solid {
    color: #5a5;
    transition: color 0.2s;
}

.product-offers-button .fa-solid:hover {
    color: #5c5;
    transition: color 0.2s;
}

.item-image-div {
    margin-left: auto;
}

#search-field {
    font-family: "Lato", serif;
    border-radius: 12px;
    font-size: 20px;
    border: 1px;
    border-right: 0px;
    border-style: solid;
    border-color: #33a;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fafaff;
    position: absolute;
    top: 8px;
    bottom: 8px;
    height: 40px;
    padding-left: 40px;
    @media screen and (min-width: 200px) {
        left: 10%;
        width: 80%;
    }
    @media screen and (min-width: 500px) {
        left: 33%;
        width: 33%;
    }
}

#search-field-div {
    @media screen and (min-width: 200px) {
        visibility: hidden;
    }
    @media screen and (min-width: 500px) {
        visibility: visible;
    }
}

#search-field-icon {
    position: absolute;
    pointer-events: none;
    cursor: default;
    top: 20px;
    @media screen and (min-width: 200px) {
        left: calc(10% + 16px);
    }
    @media screen and (min-width: 500px) {
        left: calc(33% + 16px);
    }
}

.header-button {
    border: 0px solid #ccd;
    border-radius: 12px;
    width: 36px;
    height: 36px;
    background-color: #88d;
    transition: background-color 0.2s;
    cursor: pointer;
}

.header-button:hover {
    background-color: #99e;
    transition: background-color 0.2s;
}

.header-button i {
    font-size: 18px;
}

#buttons-div {
    position: absolute;
    display: flex;
    right: 16px;
    height: 40px;
    top: 10px;
    gap: 10px;
}

.results-banner {
    overflow: hidden;
    font-family: "Lato", serif;
    height: 64px;
    border: 0px;
}

.results-banner h3 {
    margin-top: 8px;
    margin-left: 0px;
    font-size: 24px;
    margin-bottom: 0px;
    text-align: center;
}

.results-banner p {
    margin-left: 0px;
    margin-top: 0px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.tooltip {
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: center;
    background-color: #335;
    color: white;
    border-radius: 6px;
    margin-top: 4px;
    padding: 4px 10px 4px 10px;
    font-size: 13px;
    font-weight: 600;
}

.tooltip-container-div:hover
.tooltip {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.tooltip-container-div {
    position: relative;
    width: 22px;
    height: 22px;
}
